

body {

    background: rgb(255,176,176);
    background: -moz-linear-gradient(228deg, rgba(255,176,176,1) 8%, rgba(255,201,243,0.9859593495601365) 35%, rgba(255,245,193,0.9859593495601365) 64%, rgba(255,211,153,1) 95%);
    background: -webkit-linear-gradient(228deg, rgba(255,176,176,1) 8%, rgba(255,201,243,0.9859593495601365) 35%, rgba(255,245,193,0.9859593495601365) 64%, rgba(255,211,153,1) 95%);
    background: linear-gradient(228deg, rgba(255,176,176,1) 8%, rgba(255,201,243,0.9859593495601365) 35%, rgba(255,245,193,0.9859593495601365) 64%, rgba(255,211,153,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb0b0",endColorstr="#ffd399",GradientType=1);

    & h1 {
            text-align: center;
    }
}


.mainDiv {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Monda', sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center the nav bar */
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}