

body {

    background: rgb(252,158,199);
    background: radial-gradient(circle, rgba(252,158,199,1) 25%, rgba(255,217,164,1) 100%);

    & h1 {
            text-align: center;
    }
}


.mainDiv {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Monda', sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center the nav bar */
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}